<!DOCTYPE html>
<html>
   <head>
    <title>Project Approval System</title>
    <link rel="stylesheet" type="text/css" href="/static/first_page.css">
  </head>
  <body>
    <h1>Project Approval System</h1>
    <div class="content">
    <form action="/firstpage" method="POST">  
    <button type="submit" name = "mode" value = "student" class="button"><a href="student_login.html"><h3>Student Login</h3></a></button>
    <button type="submit" name = "mode" value = "faculty" class="button"><a href="faculty_login.html"><h3>Faculty Login</h3></a></button>
    <button type="submit" name = "mode" value = "ta" class="button"><a href="ta_login.html"><h3>TA Login</h3></a></button>
  </form>
    </div>
  </body>
</html>